<div class="edit-product-container container-sm mt-4">
    <form #editProductForm="ngForm" *ngIf="product" class="product-card d-flex justify-content-center align-items-center flex-column gap-3 p-4 mb-4 rounded border">
        <img src="assets/svg/product.svg" class="rounded" alt="" width="100" height="100">

        <div class="form-floating w-100">
            <input [(ngModel)]="product.name" type="text" id="name" name="name" class="form-control" required/>
            <label for="name">Name</label>
        </div>

        <div class="form-floating w-100">
            <input [(ngModel)]="product.price" type="number" step="100" id="price" name="price" class="form-control" required/>
            <label for="price">Price</label>
        </div>

        <a class="btn btn-outline-secondary w-100" type="button" routerLink="/product">Cancel</a>
        <button class="btn btn-primary w-100" type="button" (click)="save()">Save</button>

    </form>
</div>