<div class="form-container container-sm mt-4">
    <form #editUserForm="ngForm" *ngIf="user" class="user-card d-flex justify-content-center align-items-center flex-column gap-3 p-4 mb-4 rounded border">
        <img src="assets/svg/user.svg" class="rounded" alt="User profile picture placeholder" width="100" height="100">

        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger mb-0 w-100">
            <div *ngIf="firstName.errors?.['required']">
                First name is required.
            </div>
            <div *ngIf="firstName.errors?.['minlength']">
                First name must be at least {{ firstName.errors?.['minlength'].requiredLength }} characters long.
            </div>
        </div>

        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger mb-0 w-100">
            <div *ngIf="lastName.errors?.['required']">
                Last name is required.
            </div>
            <div *ngIf="lastName.errors?.['minlength']">
                Last name must be at least {{ lastName.errors?.['minlength'].requiredLength }} characters long.
            </div>
        </div>

        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger mb-0 w-100">
            <div *ngIf="email.errors?.['required']">
                Email is required.
            </div>
            <div *ngIf="email.errors?.['minlength']">
                Email must be at least {{ email.errors?.['minlength'].requiredLength }} characters long.
            </div>
            <div *ngIf="email.errors?.['email']">
                Email must be a valid email address.
            </div>
        </div>

        <div class="form-floating w-100">
            <input [(ngModel)]="user.firstName" #firstName="ngModel" type="text" id="firstName" name="firstName" class="form-control" minlength="2" required/>
            <label for="firstName">First name</label>
        </div>

        <div class="form-floating w-100">
            <input [(ngModel)]="user.lastName" #lastName="ngModel" type="text" id="lastName" name="lastName" class="form-control" minlength="2" required/>
            <label for="lastName">Last name</label>
        </div>

        <div class="form-floating w-100">
            <input [(ngModel)]="user.email" #email="ngModel" type="email" id="email" name="email" class="form-control" minlength="4" email required/>
            <label for="email">Email</label>
        </div>

        <a class="btn btn-outline-secondary w-100" type="button" routerLink="/user">Cancel</a>
        <button class="btn btn-primary w-100" type="button" [disabled]="editUserForm.invalid" (click)="save()">Save</button>

    </form>
</div>

<div aria-live="polite" aria-atomic="true" class="bg-dark position-relative bd-example-toasts">
    <div class="toast-container p-3" id="toastPlacement">
        <div class="toast">
            <div class="toast-header">
                <strong class="me-auto">Bootstrap</strong>
            </div>
            <div class="toast-body">
                Hello, world! This is a toast message.
            </div>
        </div>
    </div>
</div>